<div class="loading">
    <img src="../../../../../assets/img/web/loading.gif" alt="loading" *ngIf="loading">
</div>

<mat-card class="example-card" *ngIf="!loading">
    <img mat-card-image src="../../../../../assets/img/login/imgLogin.png" alt="Login">

    <mat-card-content class="example-container">
        <form [formGroup]="loginGroup" (ngSubmit)="login(loginGroup.value)">
            <!-- USERNAME INPUT -->
            <label for="email">Email</label>
            <input type="email" placeholder="Enter Email" formGroupName="email" required>
            <!-- PASSWORD INPUT -->
            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password" formGroupName="password" required>
            <mat-card-actions>
                <button mat-flat-button color="primary" type="submit" [disabled]="loginGroup.invalid">Access</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>