.loading {
    max-width: 1200px;
    position: fixed;
    top: 30%;
    left: 40%;
}

.loading img {
    width: 100%;
}

.example-card {
    max-width: 20%;
    position: absolute;
    left: 40%;
    top: 7%;
    background-color: rgb(241, 240, 238);
}

.mat-card-image {
    width: 70%;
    position: relative;
    left: 25%;
}


/*inputs*/

mat-form-field {
    padding-bottom: .15rem;
    width: 100%;
}


/*fin imput*/

.mat-card-actions {
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 0;
}

.mat-flat-button {
    width: 100%;
}

@media (max-width: 900px) {
    .example-card {
        max-width: 73%;
        left: 9%;
        top: 8%;
    }
    .loading {
        left: 20%;
    }
}